<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>991829197592-9au017enfe9hbocak1b7lr00hjdua68s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.991829197592-9au017enfe9hbocak1b7lr00hjdua68s</string>
	<key>API_KEY</key>
	<string>AIzaSyBKo_c_77V8w1qTz4RjqqYqE5l2-s1WT6w</string>
	<key>GCM_SENDER_ID</key>
	<string>991829197592</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.timeggers.timchat</string>
	<key>PROJECT_ID</key>
	<string>timchat-36601</string>
	<key>STORAGE_BUCKET</key>
	<string>timchat-36601.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:991829197592:ios:0ed0a30ca4a7d45335d46d</string>
</dict>
</plist>